*{
    padding: 0;
    margin: 0;   
}

.wrapper
{
    width: 1300px;
    margin:0 auto;
}
header {
	height: 100px;
	background: #180657;
	width: 100%;
    z-index: 10;
	position: fixed;
}
.logo
{
    width: 30%;
    float: left;
	line-height: 100px;
}
.logo a {
	text-decoration: none;
	font-size: 30px;
	font-family: poppins;
	color: #fff;
	letter-spacing: 5px;
    font-family: 'Dancing Script', cursive;
}
nav {
	float: right;
	line-height: 100px;
}
nav a {
	text-decoration: none;
	font-family: poppins;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 10px;
	color: #fff;
}
#banner /*1st pic-home*/
{
    background: url(lighthouse.PNG)no-repeat;
    background-size: cover;
    width: 100%;
	height: 300px;
}
.top-underline
{
    /* padding-top: 3px;
    color: #009688; */
    border-bottom: 1px solid #009688;
    font-weight: 3px;
}
.top-underline:hover
{
    color: #009688;
}

/* scroll up btn */
.gotop
{
    position: fixed;
    width: 50px;
    height: 50px;
    background: #18065717;
    bottom: 40px;
    right: 50px;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size:30px;
    color: #180657;
}

html
{
    scroll-behavior: smooth;
}

.pages-links
{
    width:100%;
    padding: 70px 0; 
    /* padding-left: 20px; */
}
.pages-links p
{
    padding-left: 150px;
}

span a
{
    text-decoration: none; 
    
    font-style: italic;
    font-size: 16px;
    font-weight: 300px;  
}

/* about body */
.stay-place
{
    padding-bottom: 200px;
    padding-top: 100px;
}
hr{
    background: rgb(220, 200, 243);
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 80%;
}
.about-body
{
    width:100%;
    padding: 30px 0; 
}
.about-body-title
{
    padding-left: 150px;
    font-family: poppins;
    font-size: 50px;
}
.stay-body-content
{
    padding-top: 10px;
    padding-right: 150px;
    padding-left: 150px;
    font-family: poppins;
    font-size: 20px;
    /* padding-bottom: 260px; */
    padding-bottom: 800px;
    /* background: #130c29; */
}
.slidershow{
    width: 800px;
    height: 500px;
    overflow: hidden;
    /* padding-left: 15%;   */
    position: absolute; 
    /* transform: translate(-50%,-50%); */
    margin: 30px 0 0 200px;
}

.navigation{
    position: absolute;
    transform: translateX(-50%);
    display: flex;
    bottom: 20px;
    left: 50%;
}
.bar{
    width: 50px;
    height: 10px;
    /* border: 2px solid rgb(0, 0, 0); */
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}
.bar:hover
{
    background: white;
}
input[name="r"]
{
    position: absolute;
    visibility: hidden;
}
.slides
{
    width: 500%;
    height: 100%;
    display: flex;
    
}
.slide
{
    width: 20%;
    transition: 0.6s;
}
.slide img
{
    width: 100%;
    height: 100%;
    /* border: black; */
}

/* for 1st hotel */
#r1:checked ~ .s1
{
    margin-left: 0;
}
#r2:checked ~ .s1
{
    margin-left: -20%;
}
#r3:checked ~ .s1
{
    margin-left: -40%;
}
#r4:checked ~ .s1
{
    margin-left: -60%;
}
#r5:checked ~ .s1
{
    margin-left: -80%;
}

/* for 2nd hotel */
#r6:checked ~ .s1
{
    margin-left: 0;
}
#r7:checked ~ .s1
{
    margin-left: -20%;
}
#r8:checked ~ .s1
{
    margin-left: -40%;
}
#r9:checked ~ .s1
{
    margin-left: -60%;
}
#r10:checked ~ .s1
{
    margin-left: -80%;
}

/* for 3rd hotel */
#r11:checked ~ .s1
{
    margin-left: 0;
}
#r12:checked ~ .s1
{
    margin-left: -20%;
}
#r13:checked ~ .s1
{
    margin-left: -40%;
}
#r14:checked ~ .s1
{
    margin-left: -60%;
}
#r15:checked ~ .s1
{
    margin-left: -80%;
}

/* for 4th hotel */
#r16:checked ~ .s1
{
    margin-left: 0;
}
#r17:checked ~ .s1
{
    margin-left: -20%;
}
#r18:checked ~ .s1
{
    margin-left: -40%;
}
#r19:checked ~ .s1
{
    margin-left: -60%;
}
#r20:checked ~ .s1
{
    margin-left: -80%;
}


.stay-place-title
{
    font-size: 35px;
    color: #180657;
}
.description
{
    padding-top: 600px;
}
.info-heading
{
    font-size: 29px;
}





/* footer */
#footer
{
    padding: 100px 0 20px;
    background: #efefef;
    position: relative;
}
.footer-row
{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left,.footer-right
{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-right
{
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.footer-row h1
{
    margin: 10px 0;
    font-size: 30px;
}
.footer-row h1
{
    margin: 10px 0;
}
.footer-row p
{
    line-height: 35px;
}
.footer-img
{
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
}
.social-links
{
    text-align: center;
}
.baseline p
{
    font-size: 25px;
    padding-bottom: 7px;
    padding-left: 5px;
    color: #180657;
}
.feedback
{
    width: 60%;
    height: 25px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    padding-bottom: 15px;
   

}
      textarea {
        width: 60%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        font-size: 16px;
        resize: none;
         /* color: #ab97f3; */
        font-family: Arial, Helvetica, sans-serif;
      }

      .button
      {
        padding-top: 13px;
        padding-left: 2px;
      }
      .button-submit
      {
        background-color: #180657;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        padding-top: 10px;
        text-decoration: none;
      }


.social-links p
{
    font-size: 12px;
    margin-top: 20px;
} 
@media screen and (max-width: 770px)
{
    .footer-left,.footer-right
    {
        flex-basis: 100%;
        font-size: 14px;
    }
    .footer-img
    {
        top: 25%;
    }
}
.social-links
{
    text-align: center;
}
.social-links i 
{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #180657;
    margin: 40px 5px 0;
    color: #180657;
    cursor: pointer;
    transition: 0.5s;
}
.social-links i:hover
{
    background: #180657;
    color: #fff;
    transform: translateY(-7px);
}